.microphone {
  color: rgb(25, 230, 212);
  position: absolute;
  top: 10px;
  right: 60px;
  border: 1px solid rgb(25, 230, 212);
  border-radius: 8px;
  padding: 4px;
  transition: background-color 0.3s ease;
}
.microphone:hover {
  background-color: rgb(25, 230, 212);
  color: white;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  width: 300px;
  color: rgb(16, 238, 208);
  height: 500px;
  font-size: 24px;
  background-color: rgb(8, 0, 15);
  border-radius: 7px;
}

.descr {
  color: rgb(16, 238, 208);
  font-size: 16px;
}

.connect {
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: rgb(25, 230, 212);
  color: white;
  transition: background-color 0.2s ease;
}
.connect:hover {
  background-color: rgb(20, 231, 125);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.resetBtn {
  margin-top: 20px;
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: rgb(252, 5, 5);
  color: rgb(0, 0, 0);
  transition: background-color 0.2s ease;
}

.resetBtn:hover {
  background-color: rgb(245, 9, 9);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.link {
  color: rgb(16, 238, 208);
}

.inputKey {
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(16, 236, 207);
}
.title {
  font-size: 24px;
}

.player {
  height: 20px;
  width: 100px;
  border: 2px solid rgb(25, 230, 212);
}

@keyframes blink2 {
  0% {
    box-shadow: 0 0 10px rgba(25, 230, 212, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(25, 230, 212, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(25, 230, 212, 0.5);
  }
}

.animate {
  animation-name: blink2; /* Добавлено */
  animation-duration: 1s; /* Длительность анимации */
  animation-iteration-count: infinite; /* Бесконечное повторение */
  animation-direction: alternate;
  /* border: 2px solid rgb(224, 204, 17); */
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0); /* Начальное положение - без смещения */
  }
  50% {
    transform: translateX(-10px); /* Смещение влево */
  }
  100% {
    transform: translateX(10px); /* Смещение вправо */
  }
}

.hide {
  display: none;
}

.loading {
  color: rgb(255, 255, 255);
  animation: fastBlink 0.1s infinite alternate;
}

@keyframes fastBlink {
  0% {
    box-shadow: 0 0 10px rgba(250, 250, 250, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(25, 230, 212, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

.loader {
  border: 6px solid #007bff; /* Цвет кружка */
  border-top: 6px solid transparent; /* Прозрачный верхний кусок, чтобы создать эффект кручения */
  border-radius: 50%; /* Делает круглый элемент */
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  animation: spin 2s linear infinite; /* Используется анимация spin, продолжительность 2 секунды, линейное вращение бесконечно */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Начальное состояние: угол 0 градусов */
  100% {
    transform: rotate(360deg);
  } /* Конечное состояние: угол 360 градусов (полный оборот) */
}
