.microphone {
  color: rgb(25, 230, 212);
  position: absolute;
  top: 10px;
  right: 60px;
  border: 1px solid rgb(25, 230, 212);
  border-radius: 8px;
  padding: 4px;
  transition: background-color 0.3s ease;
}
.microphone:hover {
  background-color: rgb(25, 230, 212);
  color: white;
  cursor: pointer;
}

.player {
  height: 20px;
  width: 100px;
  border: 2px solid rgb(25, 230, 212);
}

@keyframes blink2 {
  0% {
    box-shadow: 0 0 10px rgba(25, 230, 212, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(25, 230, 212, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(25, 230, 212, 0.5);
  }
}

.animate {
  animation-name: blink2; /* Добавлено */
  animation-duration: 1s; /* Длительность анимации */
  animation-iteration-count: infinite; /* Бесконечное повторение */
  animation-direction: alternate;
  /* border: 2px solid rgb(224, 204, 17); */
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0); /* Начальное положение - без смещения */
  }
  50% {
    transform: translateX(-10px); /* Смещение влево */
  }
  100% {
    transform: translateX(10px); /* Смещение вправо */
  }
}

.hide {
  display: none;
}
